#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
}

label {
  font-size: 1.2em;
}

select {
  border-radius: 5px;
  margin: 0 10px;
}

.axis-label {
  font-size: 2em;
}
